// border stuff

@mixin component_border_radius-xxsmall {
	border-radius: calc(#{$border-radius} / 6);
}
@mixin component_border_radius-xsmall {
	border-radius: calc(#{$border-radius} / 4);
}
@mixin component_border_radius-xlarge {
	border-radius: calc(#{$border-radius} * 4);
}
@mixin component_border_radius-xxlarge {
	border-radius: calc(#{$border-radius} * 6);
}

@mixin component_border_top {
	border-top-style: $border-style-default;
	border-top-width: $border-width-default;
}
@mixin component_border_right {
	border-right-style: $border-style-default;
	border-right-width: $border-width-default;
}
@mixin component_border_bottom {
	border-bottom-style: $border-style-default;
	border-bottom-width: $border-width-default;
}
@mixin component_border_left {
	border-left-style: $border-style-default;
	border-left-width: $border-width-default;
}
@mixin component_border_pill {
	@include component_border_full;
	@include component_border_radius-xlarge;
}

@mixin component_border_width-xxsmall {
	border-width: $border-width-default;
}
@mixin component_border_width-xsmall {
	border-width: 2px;
}


// color stuff
@mixin component_color_dark {
	background-color: $color-neutral-darkest;
	color: $color-neutral-lighter;
	border-color: $color-neutral-darkest;
}
@mixin component_color_dark-outline {
	background-color: transparent;
	color: $color-neutral-darkest;
	border-color: $color-neutral-darkest;
}
@mixin component_color_light {
	background-color: $color-neutral-lightest;
	color: $color-neutral-dark;
	border-color: $color-neutral-base;
}
@mixin component_color_light-outline {
	background-color: transparent;
	color: $color-neutral-dark;
	border-color: $color-neutral-dark;
}


@mixin component_color_transparent {
	background-color: transparent;
	color: $color-neutral-darker;
	border-color: $color-neutral-base;
}
@mixin component_color_transparent-light {
	background-color: transparent;
	color: $color-neutral-lighter;
	border-color: $color-neutral-base;
}

// height stuff
// deprecated!
.is-height-max {
	height: 100%;
}
@mixin component_height_relative-max {
	height: 100%;
}


// highlighting
@mixin component_highlight_primary {
	&:not([disabled]):hover, &.is-active {
		background-color: $color-primary-dark;
		color: $color-neutral-lighter;
		border-color: $color-primary-dark;
	}
}
@mixin component_highlight_primary-outline {
	&:not([disabled]):hover, &.is-active {
		background-color: $color-primary-base;
		color: $color-neutral-lightest;
		border-color: $color-primary-base;
	}
}
@mixin component_highlight_secondary {
	&:not([disabled]):hover, &.is-active {
		background-color: $color-secondary-dark;
		color: $color-neutral-lighter;
		border-color: $color-secondary-dark;
	}
}
@mixin component_highlight_secondary-outline {
	&:not([disabled]):hover, &.is-active {
		background-color: $color-secondary-base;
		color: $color-neutral-lightest;
		border-color: $color-secondary-base;
	}
}
@mixin component_highlight_transparent {
	&:not([disabled]):hover, &.is-active {
		background-color: transparent;
		color: $color-neutral-darkest;
		border-color: $color-neutral-dark;
	}
}
@mixin component_highlight_transparent-light {
	&:not([disabled]):hover, &.is-active {
		background-color: transparent;
		color: $color-neutral-lightest;
		border-color: $color-neutral-light;
	}
}
@mixin component_highlight_danger {
	&:not([disabled]):hover, &.is-active {
		background-color: $color-danger-dark;
		color: $color-neutral-lighter;
		border-color: $color-danger-dark;
	}
}
@mixin component_highlight_danger-outline {
	&:not([disabled]):hover, &.is-active {
		background-color: $color-danger-base;
		color: $color-neutral-lightest;
		border-color: $color-danger-base;
	}
}
@mixin component_highlight_warning {
	&:not([disabled]):hover, &.is-active {
		background-color: $color-warning-dark;
		color: $color-neutral-lighter;
		border-color: $color-warning-dark;
	}
}
@mixin component_highlight_warning-outline {
	&:not([disabled]):hover, &.is-active {
		background-color: $color-warning-base;
		color: $color-neutral-lightest;
		border-color: $color-warning-base;
	}
}
@mixin component_highlight_info {
	&:not([disabled]):hover, &.is-active {
		background-color: $color-info-dark;
		color: $color-neutral-lighter;
		border-color: $color-info-dark;
	}
}
@mixin component_highlight_info-outline {
	&:not([disabled]):hover, &.is-active {
		background-color: $color-info-base;
		color: $color-neutral-lightest;
		border-color: $color-info-base;
	}
}
@mixin component_highlight_success {
	&:not([disabled]):hover, &.is-active {
		background-color: $color-success-dark;
		color: $color-neutral-lighter;
		border-color: $color-success-dark;
	}
}
@mixin component_highlight_success-outline {
	&:not([disabled]):hover, &.is-active {
		background-color: $color-success-base;
		color: $color-neutral-lightest;
		border-color: $color-success-base;
	}
}

@mixin component_highlight_dark {
	&:not([disabled]):hover, &.is-active {
		background-color: $color-neutral-darker;
		color: $color-neutral-lightest;
		border-color: $color-neutral-darker;
	}
}
@mixin component_highlight_light {
	&:not([disabled]):hover, &.is-active {
		background-color: $color-neutral-lighter;
		color: $color-neutral-darkest;
		border-color: $color-neutral-base;
	}
}

@mixin component_highlight_transparent {
	&:not([disabled]):not(.is-disabled):hover {
		background-color: transparent;
		color: $color-neutral-darkest;
		border-color: $color-neutral-dark;
	}
}
@mixin component_highlight_transparent-light {
	&:not([disabled]):not(.is-disabled):hover {
		background-color: transparent;
		color: $color-neutral-lightest;
		border-color: $color-neutral-light;
	}
}



@mixin component_highlight_dark {
	&:not([disabled]):not(.is-disabled):hover {
		background-color: $color-neutral-darker;
		color: $color-neutral-lightest;
		border-color: $color-neutral-darker;
	}
}
@mixin component_highlight_light {
	&:not([disabled]):not(.is-disabled):hover {
		background-color: $color-neutral-lighter;
		color: $color-neutral-darkest;
		border-color: $color-neutral-base;
	}
}


@mixin component_width_relative-max {
	width: 100%;
}


// some tiny corrections
@mixin button-fix-icon {
	// > .is-text {
	// 	white-space: nowrap;
	// }
}
