@mixin content_decoration_normal {
	font-weight: normal;
	text-decoration: inherit;
	font-style: normal;
	text-transform: inherit;
}
@mixin content_decoration_italic {
	font-weight: normal;
	text-decoration: italic;
	font-style: normal;
	text-transform: inherit;
}
@mixin content_decoration_upper {
	font-weight: normal;
	text-decoration: inherit;
	font-style: normal;
	text-transform: uppercase;
}
@mixin content_decoration_lower {
	font-weight: normal;
	text-decoration: inherit;
	font-style: normal;
	text-transform: lowercase;
}
@mixin content_decoration_emphasis {
	font-weight: bold;
	text-decoration: inherit;
	font-style: normal;
	text-transform: inherit;
}