@mixin content_size_xxsmall {
	font-size: $font-size-xxsmall;
	line-height: $font-size-xsmall;
}
@mixin content_size_xsmall {
	font-size: $font-size-xsmall;
	line-height: $font-size-small;
}
@mixin content_size_small {
	font-size: $font-size-small;
	line-height: $font-size-medium;
}
@mixin content_size_medium {
	font-size: $font-size-medium;
	line-height: $font-size-large;
}
@mixin content_size_large {
	font-size: $font-size-large;
	line-height: $font-size-xlarge;
}
@mixin content_size_xlarge {
	font-size: $font-size-xlarge;
	line-height: $font-size-xxlarge;
}
@mixin content_size_xxlarge {
	font-size: $font-size-xxlarge;
	line-height: calc(#{$font-size-xxlarge} * 1.15);
}
@mixin content_size_xxxlarge {
	font-size: calc(#{$font-size-xxlarge} * 1.5);
	line-height: calc(#{$font-size-xxlarge} * 1.65);
}
@mixin content_size_xxxxlarge {
	font-size: calc(#{$font-size-xxlarge} * 2);
	line-height: calc(#{$font-size-xxlarge} * 2.15);
}

@mixin padded-content_size_xxsmall {
	@include component_spacing_horizontal-xxsmall;
	@include component_spacing_vertical-none;
}
@mixin padded-content_size_xsmall {
	@include component_spacing_horizontal-xsmall;
	@include component_spacing_vertical-xxsmall;
}
@mixin padded-content_size_small {
	@include component_spacing_horizontal-small;
	@include component_spacing_vertical-xsmall;
}
@mixin padded-content_size_medium {
	@include component_spacing_horizontal-medium;
	@include component_spacing_vertical-small;
}
@mixin padded-content_size_large {
	@include component_spacing_horizontal-large;
	@include component_spacing_vertical-medium;
}
@mixin padded-content_size_xlarge {
	@include component_spacing_horizontal-xlarge;
	@include component_spacing_vertical-large;
}