// @component form-component
// form component is at the root of all form components, not all components have these parts, but they might
// <div class="is-form-component">
// 		<div class="is-label-wrapper">contains label, perhaps an info icon</div>
//		<div class="is-content-before">contains content that should appear before the input, usually a description of the form element</div>
//		<div class="is-content-wrapper">contains the actual input element, maybe spinners, is-suffix, is-prefix,..</div>
//		<div class="messages">error messages here</div>
//		<div class="is-content-after">contains content that should appear after the element</div>
// </div>

// @extension form-labelled-component form-component
// a labelled component expects a label separate from the form input, for instance a text component, date component... we can float the label anywhere relative to the actual input
// a counterexample to this is the checkbox, we can't really float the label away from the input because they should remain together

// @extension form-flat-component form-component
// an extension that groups all form compnents where the label is hard coupled to the input (radio, checkbox, switch...)
// they should only have a is-content-wrapper

// @extension form-text form-labelled-component

// ----------------------------------------- SIZE

@mixin template-form-component-size {
	input {
		line-height: $font-size-medium;
		height: calc(#{$font-size-medium} * 2.5);
		font-size: $font-size-medium;
		padding: 0 $spacing-scale-medium;
	}
}

@mixin form-component-size-small {
	input {
		line-height: $font-size-small;
		height: calc(#{$font-size-small} * 2);
		font-size: $font-size-small;
		padding: 0 $spacing-scale-small;
	}
}

@mixin form-component-size-medium {
	input {
		line-height: $font-size-medium;
		height: calc(#{$font-size-medium} * 2.5);
		font-size: $font-size-small;
		padding: 0 $spacing-scale-medium;
	}
}
@mixin form-component-size-large {
	input {
		line-height: $font-size-large;
		height: calc(#{$font-size-large} * 2.5);
		font-size: $font-size-small;
		padding: 0 $spacing-scale-large;
	}
}

// ----------------------------------------- COLORS
@mixin form-component-color-default {
	input {
		color: $color-neutral-darkest;
		border-color: $color-neutral-light;
		&::placeholder {
			color: $color-neutral-base;
		}
		&:focus, &:focus-visible, &:active {
			border-color: $color-neutral-base;
			outline-width: 0;
		}
	}
}

$form-component-border-radius: $border-radius;
// ----------------------------------------- BORDERS
@mixin form-component-border-default {
	input {
		border-width: 1px;
		border-style: solid;
		border-radius: $form-component-border-radius;
	}
}

@mixin form-component-border-underline {
	input {
		border-width: 1px;
		border-style: none none solid none;
		border-radius: $form-component-border-radius;
	}
}

@mixin form-component-variant-default {
	@include form-component-size-medium;
	@include form-component-color-default;
	@include form-component-border-default;
}

@mixin form-component-variant-underline {
	@include form-component-size-small;
	@include form-component-color-default;
	@include form-component-border-underline;
}