// @extension form-checkbox form-flat-component

$form-checkbox-check-character: "\2713";
@mixin form-checkbox_variant_default {
	// we don't want to size to the full width, otherwise our checkbox might be floating all the way on the right if we order reverse
	// even if we order "normally", our label would have a large invisible hit target
	align-self: flex-start;
	display: inline-block;
	input {
		opacity: 0;
		position: absolute;
	}
	label {
		cursor: pointer;
	}
	input + label {
		cursor: pointer;
		line-height: 1.5rem;
		margin-left: calc(#{$font-size-large} * 1.7);
		position: relative;
		display: inline-block;
		&:before {
			border: solid 1px $color-neutral-darker;
			display: inline-block;
			content: "";
			height: $font-size-large;
			width: $font-size-large;
			position: absolute;
			left: calc(0px - (#{$font-size-large} * 1.7));
			top: calc(#{$font-size-large} * 0.12);
			background-color: $color-neutral-lightest;
		}
		&:after {
			top: calc(#{$font-size-large} * 0.12);
			content: $form-checkbox-check-character;
			font-size: $font-size-large;
			opacity: 0;
			position: absolute;
			left: calc(0px - (#{$font-size-large} * 1.6));
			text-align: center;
			color: $color-primary-dark;
			font-weight: bold;
		}
	}
	input:checked + label {
		&:after {
			opacity: 1;
		}
		&:before {
			background: $color-neutral-lightest;
			border: solid 1px $color-neutral-darker;
		}
	}
}

@mixin form-checkbox_order_reverse {
	input + label {
		margin-left: 0;
		margin-right: calc(#{$font-size-large} * 2);
		&:before {
			left: unset;
			right: calc(0px - (#{$font-size-large} * 2));
		}
		&:after {
			left: unset;
			right: calc(0px - (#{$font-size-large} * 1.9));
		}
	}
}