// @component form-date form-component
@mixin form-date_variant_default {
	position: relative;
	.is-suffix.is-open {
		background-color: $color-danger-base;
		color: $color-danger-lightest;
	}
	.n-input-date {
		z-index: 10;
		@include component_shadow_xsmall;
		@include component_border_radius-xlarge;
		
		padding: $spacing-medium;
		
		position: absolute;
		top: 100%;
		background-color: $color-neutral-lightest;
		.year-selection {
			th {
				padding-top: $spacing-medium;
			}
		}
		.days {
			th {
				padding: $spacing-medium;	
				padding-top: $spacing-large;
				height: 3rem;
				width: 3rem;
				font-size: $font-size-small;
			}
		}
		
		tbody {
			td {
				text-align: center;
				border: solid 1px transparent;
				@include component_border_radius-large;
				.is-button {
					min-height: $font-size-medium;
					min-width: $font-size-medium;
					justify-content: center;
				}
				&.is-active {
					border-color: $color-primary-dark;
					background-color: $color-primary-base;
					.is-button {
						color: $color-primary-lightest;
					}
				}
				&.is-today:not(.is-active) {
					border-color: $color-neutral-base;
				}
				.is-button {
					font-size: $font-size-small;
				}
			}
		}
	}
}