// @extension form layout

// label is positioned above the field
@mixin form-variant-default {

	.is-form-content {
		display: flex;
		@include layout-row-gap-large;
		@include layout-direction-vertical;

		.is-form-component {
			display: flex;
			@include layout-direction-vertical;
			@include layout-row-gap-small;

			.is-form-label {
				@include content-font-emphasis;
				@include content-size-small;
			}
		}
		.is-form-label-wrapper {
			display: flex;
		}
	}
}

// horizontal labels
@mixin form-variant-horizontal {
	.is-form-component {
		display: flex;
	}
}