// @extension form layout
// label is positioned above the field
@mixin form-variant-default {
	:is-form-component {
		:is-label {
			@include content-size-small;
			@include content-color-dark-outline;
		}
		:is-info {
			margin-left: $spacing-scale-small;
		}
		&.is-required {
			:is-label {
				&:after {
					content: "*";
					margin-left: $spacing-scale-small;
					color: $color-danger-base;
				}
			}
		}
	}
	// we want the labels to float at the top
	:is-form-component {
		display: flex;
		@include layout-direction-vertical;
		@include layout-row-gap-small;
	}
	:is-form-section {
		display: flex;
		@include layout-row-gap-large;
		@include layout-direction-vertical;

		:is-label-wrapper {
			display: flex;
		}
	}
	.is-content-after {
		font-size: $font-size-xsmall;
		color: $color-neutral-base;
	}
	.is-row {
		display: flex;
		@include layout-direction-horizontal;
		@include layout-column-gap-medium;
		> :is-form-component {
			flex-grow: 1;
		}
	}
}

// horizontal labels
@mixin form-variant-horizontal {
	:is-form-component {
		display: flex;
	}
}

// @component form-label
// @extension form-text-label form-label