// ---------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------- BADGE
// ---------------------------------------------------------------------------------------------------------------------------

// ----------------------------------------- POSITIONING
@mixin template-badge-position {
	position: static;
	top: 0;
	left: 0;
}
@mixin badge-position-top-right {
	position: absolute;
	top: -0.5rem;
	left: 90%;
}

// ----------------------------------------- SIZES -> include spacing
@mixin template-badge-size {
	padding: 0;
}
// no padding etc
@mixin badge-size-plain {
	padding: 0;
}
@mixin badge-size-xsmall {
	@include content-spacing-xsmall;
}
@mixin badge-size-small {
	@include content-spacing-small;
}
@mixin badge-size-medium {
	@include content-spacing-medium;
}
@mixin badge-size-large {
	@include content-spacing-large;
}
@mixin badge-size-xlarge {
	@include content-spacing-xlarge;
}


// @extension badge content
@mixin badge-variant-default {
	display: inline-flex;
	@include content-fix-icon;
	@include button-fix-icon;
	@include content-spacing-xsmall;
	@include content-font-normal;
	@include content-order-normal;
	@include content-size-xsmall;
	@include content-border-basic;
	@include content-color-neutral;
}

// if a parent has a badge, it might need positioning to position the badge
.has-badge {
	position: relative;
}