// a button is assumed to be one of these:
// <button>some text</button>
// <button><span class="is-icon"></span></button>
// <button><span class="is-label"></span></button>
// <button><span class="is-icon"></span><span class="is-label"></span></button>

// Note that we assume the icon is on the _left_ side of the label if both are present though we try to hard to not be aware of this fact

// @extension button content

$button-link-color: $color-primary-darker;
@mixin button-color-link {
	background-color: transparent;
	color: $color-primary-darker;
	border-color: transparent;
	&.is-button:hover, &.is-active {
		background-color: transparent;
		color: darken($button-link-color, 10%);
		border-color: transparent;
	}
}

// some tiny corrections
@mixin button-fix-icon {
	> .is-text {
		white-space: nowrap;
	}
}

@mixin button-font-link {
	font-weight: normal;
	text-decoration: underline;
	font-style: normal;
}

// ----------------------------------------- VARIANTS

@mixin button-variant-default {
	cursor: pointer;
	display: inline-flex;
	@include content-variant-default;
	@include button-fix-icon;
}
@mixin button-variant-link {
	@include content-size-plain;
	@include button-color-link;
	@include button-font-link;
}

// if we put a badge in a button, we need to counter the padding we add at the top otherwise we slightly stretch the button making it a tiny bit bigger than other buttons
// TODO: this is not full proof, for example if we absolutely position it etc
// also, we need to counter the exact padding, so it depends on the chosen size... that's requires some very specific queries
.is-button {
	> .is-badge {
		margin-top: calc(0px - #{$spacing-scale-xxsmall});
	}
	> .is-badge.is-size-small {
		margin-top: calc(0px - #{$spacing-scale-xsmall});
	}
	> .is-badge.is-size-medium {
		margin-top: calc(0px - #{$spacing-scale-small});
	}
	> .is-badge.is-size-large {
		margin-top: calc(0px - #{$spacing-scale-medium});
	}
	> .is-badge.is-size-xlarge {
		margin-top: calc(0px - #{$spacing-scale-large});
	}
}