// a button is assumed to be one of these:
// <button>some text</button>
// <button><span class="is-icon"></span></button>
// <button><span class="is-label"></span></button>
// <button><span class="is-icon"></span><span class="is-label"></span></button>

// Note that we assume the icon is on the _left_ side of the label if both are present though we try to hard to not be aware of this fact

// @component button

// ----------------------------------------- BORDERS

@mixin template-button-border {
	border-radius: $border-radius;
	border-width: 1px;
	border-style: solid;
}
@mixin button-border-basic {
	@include template-button-border;
}
@mixin button-border-underline {
	border-radius: 0;
	border-width: 2px;
	border-style: none none solid none;
}
@mixin button-border-none {
	border-radius: $border-radius;
	border-width: 0px;
	border-style: solid;
}

// ----------------------------------------- SIZES
@mixin template-button-size {
	padding: $spacing-scale-small $spacing-scale-medium;
	font-size: $font-size-medium;
	column-gap: $spacing-scale-small;
}
// no padding etc
@mixin button-size-plain {
	padding: 0;
	font-size: $font-size-medium;
	column-gap: $spacing-scale-small;
}
@mixin button-size-xsmall {
	padding: $spacing-scale-xxsmall $spacing-scale-xsmall;
	font-size: $font-size-xsmall;
	column-gap: $spacing-scale-xxsmall;
}
@mixin button-size-small {
	padding: $spacing-scale-xsmall $spacing-scale-small;
	font-size: $font-size-small;
	column-gap: $spacing-scale-xsmall;
}
@mixin button-size-medium {
	@include template-button-size;
}
@mixin button-size-large {
	padding: $spacing-scale-medium $spacing-scale-large;
	font-size: $font-size-large;
	column-gap: $spacing-scale-medium;
}
@mixin button-size-xlarge {
	padding: $spacing-scale-large $spacing-scale-xlarge;
	font-size: $font-size-xlarge;
	column-gap: $spacing-scale-large;
}

// ----------------------------------------- COLORS

@mixin template-button-color {
	background-color: $color-neutral-lightest;
	color: $color-neutral-darker;
	border-color: $color-neutral-darker;
	&:hover {
		background-color: $color-neutral-lighter;
		color: $color-neutral-darkest;
		border-color: $color-neutral-darkest;
	}
}
@mixin button-color-neutral {
	@include template-button-color;
}
@mixin button-color-primary {
	background-color: $color-primary-base;
	color: $color-neutral-lightest;
	border-color: $color-primary-base;
	&:hover {
		background-color: $color-primary-dark;
		color: $color-neutral-lighter;
		border-color: $color-primary-dark;
	}
}
@mixin button-color-primary-outline {
	background-color: $color-neutral-lightest;
	color: $color-primary-dark;
	border-color: $color-primary-dark;
	&:hover {
		background-color: $color-primary-base;
		color: $color-neutral-lightest;
		border-color: $color-primary-base;
	}
}
@mixin button-color-secondary {
	background-color: $color-secondary-base;
	color: $color-neutral-lightest;
	border-color: $color-secondary-base;
	&:hover {
		background-color: $color-secondary-dark;
		color: $color-neutral-lighter;
		border-color: $color-secondary-dark;
	}
}
@mixin button-color-secondary-outline {
	background-color: $color-neutral-lightest;
	color: $color-secondary-dark;
	border-color: $color-secondary-dark;
	&:hover {
		background-color: $color-secondary-base;
		color: $color-neutral-lightest;
		border-color: $color-secondary-base;
	}
}
@mixin button-color-transparent {
	background-color: transparent;
	color: $color-neutral-darker;
	border-color: $color-neutral-base;
	&:hover {
		background-color: $color-neutral-lighter;
		color: $color-neutral-darkest;
		border-color: $color-neutral-dark;
	}
}
@mixin button-color-danger {
	background-color: $color-danger-base;
	color: $color-neutral-lightest;
	border-color: $color-danger-base;
	&:hover {
		background-color: $color-danger-dark;
		color: $color-neutral-lighter;
		border-color: $color-danger-dark;
	}
}
@mixin button-color-danger-outline {
	background-color: $color-neutral-lightest;
	color: $color-danger-dark;
	border-color: $color-danger-dark;
	&:hover {
		background-color: $color-danger-base;
		color: $color-neutral-lightest;
		border-color: $color-neutral-base;
	}
}
@mixin button-color-warning {
	background-color: $color-warning-base;
	color: $color-neutral-lightest;
	border-color: $color-warning-base;
	&:hover {
		background-color: $color-warning-dark;
		color: $color-neutral-lighter;
		border-color: $color-warning-dark;
	}
}
@mixin button-color-warning-outline {
	background-color: $color-neutral-lightest;
	color: $color-warning-dark;
	border-color: $color-warning-dark;
	&:hover {
		background-color: $color-warning-base;
		color: $color-neutral-lightest;
		border-color: $color-warning-base;
	}
}
@mixin button-color-info {
	background-color: $color-info-base;
	color: $color-neutral-lightest;
	border-color: $color-info-base;
	&:hover {
		background-color: $color-info-dark;
		color: $color-neutral-lighter;
		border-color: $color-info-dark;
	}
}
@mixin button-color-info-outline {
	background-color: $color-neutral-lightest;
	color: $color-info-dark;
	border-color: $color-info-dark;
	&:hover {
		background-color: $color-info-base;
		color: $color-neutral-lightest;
		border-color: $color-info-base;
	}
}
@mixin button-color-success {
	background-color: $color-success-base;
	color: $color-neutral-lightest;
	border-color: $color-success-base;
	&:hover {
		background-color: $color-success-dark;
		color: $color-neutral-lighter;
		border-color: $color-success-dark;
	}
}
@mixin button-color-success-outline {
	background-color: $color-neutral-lightest;
	color: $color-success-dark;
	border-color: $color-success-dark;
	&:hover {
		background-color: $color-success-base;
		color: $color-neutral-lightest;
		border-color: $color-success-base;
	}
}

$button-link-color: $color-primary-darker;
@mixin button-color-link {
	background-color: transparent;
	color: $color-primary-darker;
	border-color: transparent;
	&:hover {
		background-color: transparent;
		color: darken($button-link-color, 10%);
		border-color: transparent;
	}
}

// ----------------------------------------- FONTS

@mixin template-button-font {
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
}
@mixin button-font-normal {
	@include template-button-font;
}
@mixin button-font-link {
	font-weight: normal;
	text-decoration: underline;
	font-style: normal;
}

// ----------------------------------------- ORDER

// reverse the order to have the icon after the label
// there is no template because the idea is not that you make your own order at this point
// you can however toggle it as a dimensional option
@mixin button-order-reverse {
	display: inline-flex;
	flex-direction: row-reverse;
}
@mixin button-order-normal {
	display: inline-flex;
	flex-direction: row;
}

// ----------------------------------------- VARIANTS

@mixin button-variant-default {
	cursor: pointer;
	@include button-font-normal;
	@include button-order-normal;
	@include button-size-medium;
	@include button-border-basic;
	@include button-color-neutral;
}
@mixin button-variant-neutral {
	@include button-variant-default;
}
@mixin button-variant-primary {
	@include button-color-primary;
}
@mixin button-variant-secondary {
	@include button-color-secondary;
}
@mixin button-variant-primary-outline {
	@include button-color-primary-outline;
}
@mixin button-variant-secondary-outline {
	@include button-color-secondary-outline;
}
@mixin button-variant-ghost {
	@include button-border-none;
	@include button-color-transparent;
}
@mixin button-variant-link {
	@include button-size-plain;
	@include button-color-link;
	@include button-font-link;
}

@mixin button-variant-info {
	@include button-color-info;
}
@mixin button-variant-info-outline {
	@include button-color-info-outline;
}
@mixin button-variant-warning {
	@include button-color-warning;
}
@mixin button-variant-warning-outline {
	@include button-color-warning-outline;
}
@mixin button-variant-danger {
	@include button-color-danger;
}
@mixin button-variant-danger-outline {
	@include button-color-danger-outline;
}
@mixin button-variant-success {
	@include button-color-success;
}
@mixin button-variant-success-outline {
	@include button-color-success-outline;
}
