// Content is a generic type that serves as the basis for any component that displays some content in one way or the other
// It requires something like this though there are many variations possible
// <div class='is-content'>some text</div>
// <div class='is-content'><span class="is-icon"></span></div>
// <div class='is-content'><span class="is-text"></span></div>
// <div class='is-content'><span class="is-icon"></span><span class="is-text"></span></div>
// Note that we assume the icon is on the _left_ side of the text if both are present though we try to hard to not be aware of this fact

// @component content
// ----------------------------------------- BORDERS

@mixin template-content-border {
	border-radius: $border-radius;
	border-width: 1px;
	border-style: solid;
}
@mixin content-border-basic {
	@include template-content-border;
}
@mixin content-border-underline {
	border-radius: 0;
	border-width: 1px;
	border-style: none none solid none;
}
@mixin content-border-none {
	border-radius: $border-radius;
	border-width: 0px;
	border-style: solid;
}
@mixin content-border-pill {
	border-radius: $border-radius * 3;
	border-width: 1px;
	border-style: solid;
}

// ----------------------------------------- SPACING
@mixin template-content-spacing {
	padding: 0;
}
@mixin content-spacing-plain {
	@include template-content-spacing;
}
@mixin content-spacing-xsmall {
	padding: $spacing-scale-xxsmall $spacing-scale-xsmall;
	// pills need more padding
	&.is-border-pill {
		padding: $spacing-scale-xxsmall $spacing-scale-small;
	}
}
@mixin content-spacing-small {
	padding: $spacing-scale-xsmall $spacing-scale-small;
	&.is-border-pill {
		padding: $spacing-scale-xsmall $spacing-scale-medium;
	}
}
@mixin content-spacing-medium {
	padding: $spacing-scale-small $spacing-scale-medium;
	// pills need more padding
	&.is-border-pill {
		padding: $spacing-scale-small $spacing-scale-large;
	}
}
@mixin content-spacing-large {
	padding: $spacing-scale-medium $spacing-scale-large;
	&.is-border-pill {
		padding: $spacing-scale-medium $spacing-scale-xlarge;
	}
}
@mixin content-spacing-xlarge {
	padding: $spacing-scale-large $spacing-scale-xlarge;
	&.is-border-pill {
		padding: $spacing-scale-large $spacing-scale-xxlarge;
	}
}

// ----------------------------------------- SIZES
@mixin template-content-size {
	font-size: $font-size-medium;
	column-gap: $spacing-scale-small;
}
// no padding etc
@mixin content-size-plain {
	font-size: $font-size-medium;
	column-gap: $spacing-scale-small;
}
@mixin content-size-xsmall {
	font-size: $font-size-xsmall;
	column-gap: $spacing-scale-small;
}
@mixin content-size-small {
	font-size: $font-size-small;
	column-gap: $spacing-scale-small;
}
@mixin content-size-medium {
	@include template-content-size;
}
@mixin content-size-large {
	font-size: $font-size-large;
	column-gap: $spacing-scale-medium;
}
@mixin content-size-xlarge {
	font-size: $font-size-xlarge;
	column-gap: $spacing-scale-large;
}

// ----------------------------------------- COLORS

@mixin template-content-color {
	background-color: $color-neutral-lightest;
	color: $color-neutral-darker;
	border-color: $color-neutral-darker;
}
@mixin content-color-neutral {
	@include template-content-color;
}
@mixin content-color-primary {
	background-color: $color-primary-base;
	color: $color-neutral-lightest;
	border-color: $color-primary-base;
}
@mixin content-color-primary-outline {
	background-color: transparent;
	color: $color-primary-base;
	border-color: $color-primary-base;
}
@mixin content-color-secondary {
	background-color: $color-secondary-base;
	color: $color-neutral-lightest;
	border-color: $color-secondary-base;
}
@mixin content-color-secondary-outline {
	background-color: transparent;
	color: $color-secondary-base;
	border-color: $color-secondary-base;
}
@mixin content-color-transparent {
	background-color: transparent;
	color: $color-neutral-darker;
	border-color: $color-neutral-base;
}
@mixin content-color-transparent-light {
	background-color: transparent;
	color: $color-neutral-lighter;
	border-color: $color-neutral-base;
}
@mixin content-color-danger {
	background-color: $color-danger-base;
	color: $color-neutral-lightest;
	border-color: $color-danger-base;
}
@mixin content-color-danger-outline {
	background-color: transparent;
	color: $color-danger-base;
	border-color: $color-danger-base;
}
@mixin content-color-warning {
	background-color: $color-warning-base;
	color: $color-neutral-lightest;
	border-color: $color-warning-base;
}
@mixin content-color-warning-outline {
	background-color: transparent;
	color: $color-warning-base;
	border-color: $color-warning-base;
}
@mixin content-color-info {
	background-color: $color-info-base;
	color: $color-neutral-lightest;
	border-color: $color-info-base;
}
@mixin content-color-info-outline {
	background-color: transparent;
	color: $color-info-base;
	border-color: $color-info-base;
}
@mixin content-color-success {
	background-color: $color-success-base;
	color: $color-neutral-lightest;
	border-color: $color-success-base;
}
@mixin content-color-success-outline {
	background-color: transparent;
	color: $color-success-base;
	border-color: $color-success-base;
}
@mixin content-color-dark {
	background-color: $color-neutral-darkest;
	color: $color-neutral-lighter;
	border-color: $color-neutral-darkest;
}
@mixin content-color-dark-outline {
	background-color: transparent;
	color: $color-neutral-darkest;
	border-color: $color-neutral-darkest;
}
@mixin content-color-light {
	background-color: $color-neutral-lightest;
	color: $color-neutral-darker;
	border-color: $color-neutral-light;
}

// ----------------------------------------- FONTS

@mixin template-content-font {
	font-weight: normal;
	text-decoration: inherit;
	font-style: normal;
	text-transform: inherit;
}
@mixin content-font-normal {
	@include template-content-font;
}
@mixin content-font-emphasis {
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
}

// ----------------------------------------- ORDER

// reverse the order to have the icon after the label
// there is no template because the idea is not that you make your own order at this point
// you can however toggle it as a dimensional option
@mixin content-order-reverse {
	flex-direction: row-reverse;
	align-items: center;
}
@mixin content-order-normal {
	flex-direction: row;
	align-items: center;
}

// some tiny corrections
@mixin content-fix-icon {
	> .is-icon {
		// make sure it fills the max space and no bigger
		max-height: 100%;
		line-height: 100%;
		// otherwise images etc do not register correctly width-wise
		min-width: 1rem;
	}
	> .is-text {
		flex-grow: 1;
		white-space: nowrap;
	}
}

@mixin content-variant-default {
	@include content-fix-icon;
	@include content-font-normal;
	@include content-order-normal;
	@include content-size-medium;
	@include content-border-basic;
	@include content-color-neutral;
}
@mixin content-variant-neutral {
	@include content-variant-default;
}
@mixin content-variant-primary {
	@include content-color-primary;
}
@mixin content-variant-secondary {
	@include content-color-secondary;
}
@mixin content-variant-primary-outline {
	@include content-color-primary-outline;
}
@mixin content-variant-secondary-outline {
	@include content-color-secondary-outline;
}
@mixin content-variant-ghost {
	@include content-border-none;
	@include content-color-transparent;
}
@mixin content-variant-ghost-light {
	@include content-border-none;
	@include content-color-transparent-light;
}
@mixin content-variant-info {
	@include content-color-info;
}
@mixin content-variant-info-outline {
	@include content-color-info-outline;
}
@mixin content-variant-warning {
	@include content-color-warning;
}
@mixin content-variant-warning-outline {
	@include content-color-warning-outline;
}
@mixin content-variant-danger {
	@include content-color-danger;
}
@mixin content-variant-danger-outline {
	@include content-color-danger-outline;
}
@mixin content-variant-success {
	@include content-color-success;
}
@mixin content-variant-success-outline {
	@include content-color-success-outline;
}


// @extension padded-content content
// ----------------------------------------- SIZES -> include spacing
@mixin template-padded-content-size {
	padding: 0;
}
// no padding etc
@mixin padded-content-size-plain {
	padding: 0;
}
@mixin padded-content-size-xsmall {
	@include content-spacing-xsmall;
}
@mixin padded-content-size-small {
	@include content-spacing-small;
}
@mixin padded-content-size-medium {
	@include content-spacing-medium;
}
@mixin padded-content-size-large {
	@include content-spacing-large;
}
@mixin padded-content-size-xlarge {
	@include content-spacing-xlarge;
}