@mixin image_variant_default {
	max-width: 100%;
}

// set as centered background image
@mixin image_variant_background {
    background-size: contain;
	max-width: unset;
	min-height: 100%;
	min-width: 100%;
    opacity: 20%;
	position: fixed;
	top: 50%;
    transform: translate(-50%,-50%);
	left: 50%;
}