// @component info
@mixin info-variant-default {
	display: inline-block;
	position: relative;
	.is-content-wrapper {
		position: absolute;
		background-color: $color-neutral-darkest;
		color: $color-neutral-light;
		padding: $spacing-scale-small $spacing-scale-medium;
		min-width: calc(#{$font-size-medium} * 20);
		border-radius: $border-radius;
		font-size: $font-size-xsmall;
		line-height: $font-size-medium;
	}
}