// @extension h1 button
@mixin h1-variant-default {
	font-size: calc(#{$font-size-xlarge} + 0.4vw);
	margin: 0;
	display: flex;
	@include button-fix-icon;
	@include button-font-normal;
	@include button-order-normal;
}

// @extension h2 button
@mixin h2-variant-default {
	font-size: calc(#{$font-size-xlarge} + 0.2vw);
	margin: 0;
	display: flex;
	@include button-fix-icon;
	@include button-font-normal;
	@include button-order-normal;
}

// @extension h3 button
@mixin h3-variant-default {
	font-size: calc(#{$font-size-large} + 0.2vw);
	margin: 0;
	display: flex;
	@include button-fix-icon;
	@include button-font-normal;
	@include button-order-normal;
}

// @extension h4 button
@mixin h4-variant-default {
	font-size: calc(#{$font-size-medium} + 0.2vw);
	margin: 0;
	display: flex;
	@include button-fix-icon;
	@include button-font-normal;
	@include button-order-normal;
}

// @extension h5 button
@mixin h5-variant-default {
	font-size: calc(#{$font-size-medium} + 0.1vw);
	margin: 0;
	display: flex;
	@include button-fix-icon;
	@include button-font-normal;
	@include button-order-normal;
}

// @extension h6 button
@mixin h6-variant-default {
	font-size: calc(#{$font-size-medium});
	margin: 0;
	display: flex;
	@include button-fix-icon;
	@include button-font-normal;
	@include button-order-normal;
}

// @extension p button
@mixin p-variant-default {
	font-size: $font-size-medium;
	margin: 0;
	@include button-fix-icon;
	@include button-font-normal;
}