// @component modal
@mixin modal-variant-default {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 100;	
    display: flex;
	align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba($color-neutral-darker, 0.7);
}