// @extension sidebar layout
@mixin sidebar_position_left {
	left: 0;
	box-shadow: 0px 1px 3px $color-neutral-dark;
}
@mixin sidebar_position_right {
	right: 0;
	left: unset;
	box-shadow: 0px 0px 3px 0px $color-neutral-dark;
}

@mixin sidebar_size_xsmall {
	width: calc(15 * #{$font-size-medium});
}
@mixin sidebar_size_small {
	width: calc(20 * #{$font-size-medium});
}
@mixin sidebar_size_medium {
	width: calc(25 * #{$font-size-medium});
}
@mixin sidebar_size_large {
	width: calc(30 * #{$font-size-medium});
}
@mixin sidebar_size_xlarge {
	width: calc(35 * #{$font-size-medium});
}

@mixin sidebar-variant-default {
	position: fixed;
	top: 0;
	height: 100vh;
	max-width: 100%;
	min-width: calc(25 * #{$font-size-medium});
	z-index: 50;
	background-color: $color-neutral-lightest;
	@include sidebar_position_left;
	header {
		height: calc(5 * #{$font-size-large});
	}
	main {
		@include component_spacing_vertical-gap-medium;;
		height: calc(100vh - (5 * #{$font-size-large}));
		overflow: auto;
	}
}