// @extension sidebar layout
@mixin sidebar-position-left {
	left: 0;
	box-shadow: 0px 1px 3px $color-neutral-dark;
}
@mixin sidebar-position-right {
	right: 0;
	left: unset;
	box-shadow: 0px 0px 3px 0px $color-neutral-dark;
}

@mixin sidebar-size-xsmall {
	width: calc(15 * #{$font-size-medium});
}
@mixin sidebar-size-small {
	width: calc(20 * #{$font-size-medium});
}
@mixin sidebar-size-medium {
	width: calc(25 * #{$font-size-medium});
}
@mixin sidebar-size-large {
	width: calc(30 * #{$font-size-medium});
}
@mixin sidebar-size-xlarge {
	width: calc(35 * #{$font-size-medium});
}

@mixin sidebar-variant-default {
	position: fixed;
	top: 0;
	height: 100vh;
	max-width: 100%;
	min-width: calc(25 * #{$font-size-medium});
	z-index: 50;
	background-color: $color-neutral-lightest;
	@include sidebar-position-left;
	header {
		height: calc(5 * #{$font-size-large});
	}
	main {
		@include layout-row-gap-medium;
		height: calc(100vh - (5 * #{$font-size-large}));
		overflow: auto;
	}
}